{% extends 'index.html' %}

{% block style %}

table {border-collapse: collapse;width: 100%;}
th, td {text-align: left;padding: 8px;}
th {background-color: #4CAF50;color: white;}
tr:nth-child(even){background-color: #f2f2f2}

ul li.search_form {float: right;margin-right: 20px;}
ul li.search_form form input[name="name"] {padding: 13px;}
ul li.search_form form button {padding: 13px 50px; font-size: 16px;background-color: #4CAF50;color: #fff;}

{% endblock style %}

{% block menu %}
<li class="search_form">
    <form method="POST" action="#">
        {% csrf_token %}
        <input type="text" name="name">
        <button type="submit">Search</button>
    </form>
</li>
{% endblock menu %}

{% block content %}

<h2>Product Listing</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>Date Created</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.date_created }}</td>
        <td><a href="/edit/{{ product.id }}">Edit</a></td>
        <td><a href="/delete/{{ product.id }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
